.wrapper {
  color: var(--white);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-top: calc(var(--navbar-height) + 2.5rem);
  position: relative;
  width: 100%;

  &::before {
    --size: 200px;

    background-image: linear-gradient(to top, var(--off-white) 20%, transparent);
    bottom: 0;
    content: "";
    height: var(--size);
    left: -100vw;
    position: absolute;
    width: 200vw;
    z-index: -1;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  filter: brightness(80%);
  object-fit: cover;
  z-index: -2;
}

.caption {
  font-size: var(--font-size-xs);
  margin-bottom: 2rem;
  position: relative;

  &__text {
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;

    &::before {
      background-color: var(--white);
      bottom: -0.75em;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  &::before {
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 30%);
    bottom: -0.75em;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: calc(100% + var(--padding-gutter));
    z-index: 1;
  }
}

.heading {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-extra-bold);
  margin-bottom: 1rem;
}

.slides {
  display: none;
}

.subheading {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.7;
  margin-bottom: 1rem;

  &__space {
    display: none;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-base);
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  padding-block: 0.5rem;
  padding-left: 1.5rem;
  position: relative;

  &::before {
    background-color: var(--white);
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 4px;
  }
}

.action {
  align-items: stretch;
  align-self: flex-start;
  background-color: transparent;
  border: none;
  box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
  color: inherit;
  display: flex;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);

  &__text {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 25%);
    display: flex;
    padding: 0.5rem 1.75rem;
  }

  &__icon {
    align-items: center;
    background-color: var(--white);
    color: var(--clr-accent);
    display: flex;
    isolation: isolate;
    padding: 0.75rem;

    &-svg {
      height: 20px;
      width: 20px;
    }
  }
}

.showcase {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  &__icon {
    display: none;
  }

  &__airports {
    background-color: var(--white);
    display: flex;
    flex: 1;
    padding: 2rem 1.5rem;
  }

  &__row {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
  }

  &__label {
    color: var(--text-muted);
    font-size: var(--font-size-xs);
    margin-bottom: 0.35rem;
  }

  &__select {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    gap: 0.5rem;
  }

  &__caret {
    height: 0.75rem;
    width: 0.75rem;
  }

  &__action {
    background-color: var(--clr-accent);
    border: none;
    color: var(--white);
    font-weight: var(--font-weight-bold);
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 1rem;
  }
}

@media (width >= 1200px) {
  .wrapper {
    padding-top: calc(var(--navbar-height) + 8rem);

    &::before {
      --size: 600px;

      background-image: linear-gradient(to top, var(--off-white) 10%, transparent);
    }
  }

  .image {
    filter: brightness(90%);
    object-position: center 30%;
  }

  .heading-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .heading {
    font-size: var(--font-size-6xl);
  }

  .slides {
    display: flex;
    gap: 0.25rem;
    z-index: 2;
  }

  .slide {
    $self: &;

    align-items: center;
    align-self: flex-start;
    backdrop-filter: blur(20px);
    background-color: rgb(255 255 255 / 15%);
    border: none;
    border-top: 2px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    position: relative;
    top: -2px;
    width: 50px;

    &__number {
      color: rgb(0 0 0 / 10%);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      margin-block: 1.5rem;
    }

    &__indicator {
      background-color: rgb(0 0 0 / 10%);
      border-radius: 50%;
      height: 5px;
      width: 5px;
    }

    &--active {
      background-color: rgb(255 255 255 / 45%);
      border-top: 2px solid #acb4e6;

      &::before {
        background-color: var(--clr-accent);
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: -2px;
        width: 60%;
      }

      #{$self}__number {
        color: var(--text-primary);
      }

      #{$self}__indicator {
        background-color: var(--clr-accent);
        box-shadow: 0 3px 5px var(--clr-accent);
      }
    }
  }

  .subheading {
    font-size: var(--font-size-3xl);

    br {
      display: none;
    }

    &__space {
      display: inline;
    }

    &__rupee {
      margin-right: -2px;
    }
  }

  .caption {
    font-size: var(--font-size-base);
    margin-bottom: 1rem;

    &__text {
      font-weight: var(--font-weight-bold);

      &::before {
        bottom: -1rem;
      }
    }

    &::before {
      bottom: -1rem;
      width: 100%;
    }
  }

  .info {
    font-size: var(--font-size-xl);
    margin-bottom: 4rem;
    margin-top: 1rem;
    padding-block: 0.25rem;
  }

  .action {
    font-size: var(--font-size-xl);

    &__text {
      padding: 1.25rem 2.75rem;
    }

    &__icon {
      padding: 1rem;

      &-svg {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  .showcase {
    box-shadow: 0 10px 45px rgb(0 0 0 / 10%);
    flex-direction: row;
    margin-bottom: 10rem;
    margin-top: 12rem;
    width: 100%;

    &__icon {
      align-items: center;
      backdrop-filter: blur(10px);
      background-color: rgb(255 255 255 / 35%);
      color: var(--text-muted);
      display: flex;
      justify-content: center;
      width: 125px;

      &-svg {
        height: 45px;
        transform: rotate(45deg);
        width: 45px;
      }
    }

    &__airports {
      justify-content: center;
    }

    &__row {
      max-width: 500px;
    }

    &__label {
      font-size: var(--font-size-sm);
      margin-bottom: 1rem;
    }

    &__caret {
      height: 1.5rem;
      width: 1.5rem;
    }

    &__select {
      font-size: var(--font-size-lg);
      justify-content: space-between;
      width: 175px;
    }

    &__action {
      font-size: var(--font-size-2xl);
      margin: 0;
      padding: 3rem 6rem;
    }
  }
}
