:root {
  --clr-accent: hsl(260, 88%, 62%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(100, 50%, 98%);
  --text-primary: hsl(0, 0%, 20%);
  --text-secondary: hsl(0, 0%, 30%);
  --text-muted: hsl(235, 9%, 75%);

  --padding-gutter: 1rem;
  --navbar-height: 70px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus-visible {
  outline: 3px dashed var(--white);
  outline-offset: 0.5rem;
}
