.wrapper {
  color: var(--white);
  display: flex;
  height: var(--navbar-height);
  justify-content: space-between;
  padding: var(--padding-gutter);
  position: absolute;
  width: 100%;
  z-index: 2;
}

.logo {
  display: flex;
  padding-block: 5px;

  svg {
    height: 100%;
    width: auto;
  }
}

.nav {
  .hamburger {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    height: 44px;
    justify-content: space-between;
    padding: 10px 5px;
    width: 44px;

    .line {
      background-color: var(--white);
      border-radius: 3px;
      height: 3px;
      width: 100%;
    }
  }

  .status,
  .check-in,
  .avatar {
    display: none;
  }
}

@media (width >= 1200px) {
  .wrapper {
    left: 50%;
    margin-top: 1rem;
    max-width: 1300px;
    transform: translateX(-50%);
  }

  .logo {
    padding: 0;
  }

  .nav {
    align-items: center;
    display: flex;
    gap: 2rem;

    .status,
    .check-in,
    .avatar {
      cursor: pointer;
      display: block;
    }

    .avatar {
      backdrop-filter: blur(10px);
      background-color: rgb(0 0 0 / 20%);
      border: none;
      border-radius: 50%;
      height: 44px;
      overflow: hidden;
      padding: 2px;
      width: 44px;

      img {
        border-radius: inherit;
        display: block;
      }
    }

    .check-in {
      background-color: var(--white);
      border: none;
      border-radius: 4px;
      box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
      color: var(--text-primary);
      padding: 0.5rem 2rem;
    }

    .status {
      background-color: transparent;
      border: none;
      color: var(--white);
      padding: 0.35rem;
    }

    .check-in,
    .status {
      font-weight: 700;
    }
  }
}
