.wrapper {
  background-color: var(--off-white);
  padding-block: 2rem 4rem;
  text-align: center;
}

.title {
  color: var(--text-primary);
  margin-bottom: 1rem;
  padding-top: 2rem;

  &::before {
    background-color: var(--clr-accent);
    border-radius: 6px;
    content: "";
    display: block;
    height: 6px;
    margin-inline: auto;
    position: relative;
    top: -1.5rem;
    width: 60px;
  }
}

.subtitle {
  color: var(--text-muted);
  line-height: 1.7;
  margin-bottom: 3rem;
}

.services {
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 5rem;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__icon {
    align-self: center;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 4px 15px 25px hsla(0deg 0% 0% / 10%);
    color: var(--clr-accent);
    display: flex;
    padding: 1.25rem;
  }

  &__ripples {
    display: none;
  }

  &__svg {
    height: 2.125rem;
    width: 2.125rem;
  }

  &__caption {
    color: var(--text-secondary);
    font-size: 0.9rem;
  }
}

@media (width >= 1200px) {
  .title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 2rem;
    padding-top: 4.5rem;

    &::before {
      height: 10px;
      top: -3rem;
    }
  }

  .subtitle {
    font-size: 1.35rem;
    margin-bottom: 7.5rem;
    margin-inline: auto;
    max-width: 45ch;
  }

  .services {
    gap: 6rem 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .service {
    $self: &;

    gap: 1.75rem;
    isolation: isolate;

    &__icon {
      padding: 2rem;
      position: relative;
    }

    &__ripples {
      display: block;
      position: absolute;
    }

    &__svg {
      height: 40px;
      width: 40px;
    }

    &__caption {
      font-size: 1.125rem;
      z-index: 1;
    }

    &--active {
      #{$self}__icon {
        background-color: var(--clr-accent);
        box-shadow: 8px 20px 25px hsl(236deg 79% 68% / 35%);
        color: var(--white);
      }

      #{$self}__ripples {
        border: 3px solid var(--white);
        border-radius: inherit;
        inset: -1rem;

        &::before,
        &::after {
          border-radius: inherit;
          content: "";
          position: absolute;
        }

        &::before {
          border: 3px solid var(--white);
          inset: -2.5rem;
        }

        &::after {
          border: 3px solid var(--white);
          inset: -6.5rem;
        }
      }
    }
  }
}
