.wrapper {
  background-color: var(--off-white);
  padding-block: var(--spacing-9) var(--spacing-16);
  text-align: center;
}

.services {
  display: grid;
  gap: var(--spacing-12) var(--spacing-9);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: var(--spacing-12);
}

.service {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);

  &__icon {
    align-self: center;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: var(--spacing-2) var(--spacing-5) var(--spacing-7) hsla(0deg 0% 0% / 10%);
    color: var(--clr-accent);
    display: flex;
    padding: var(--spacing-6);
  }

  &__ripples {
    display: none;
  }

  &__svg {
    height: var(--spacing-9);
    width: var(--spacing-9);
  }

  &__caption {
    color: var(--text-secondary);
    font-size: var(--font-size-base);
  }
}

@media (width >= 1200px) {
  .services {
    gap: var(--spacing-24) var(--spacing-12);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: var(--spacing-20);
    margin-top: var(--spacing-32);
  }

  .service {
    $self: &;

    gap: var(--spacing-8);
    isolation: isolate;

    &__icon {
      padding: var(--spacing-9);
      position: relative;
    }

    &__ripples {
      display: block;
      position: absolute;
    }

    &__svg {
      height: var(--spacing-10);
      width: var(--spacing-10);
    }

    &__caption {
      font-size: var(--font-size-lg);
      position: relative;
      z-index: 1;
    }

    &--active {
      #{$self}__icon {
        background-color: var(--clr-accent);
        box-shadow: var(--spacing-3) var(--spacing-6) var(--spacing-7) hsl(236deg 79% 68% / 35%);
        color: var(--white);
      }

      #{$self}__ripples {
        border: var(--spacing-2) solid var(--white);
        border-radius: inherit;
        inset: calc(var(--spacing-5) * -1);

        &::before,
        &::after {
          border-radius: inherit;
          content: "";
          position: absolute;
        }

        &::before {
          border: var(--spacing-2) solid var(--white);
          inset: calc(var(--spacing-10) * -1);
        }

        &::after {
          border: var(--spacing-2) solid var(--white);
          inset: calc(var(--spacing-24) * -1);
        }
      }
    }
  }
}
