.wrapper {
  padding-block: 4rem;
  background-color: var(--off-white);
  position: relative;

  &::before {
    --size: 200px;

    content: "";
    z-index: -1;
    position: absolute;
    top: calc(-1 * var(--size) + 5px);
    left: -100vw;
    width: 200vw;
    height: var(--size);
    background-image: linear-gradient(to top, var(--off-white) 20%, transparent);
  }
}

.title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  color: var(--text-primary);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--clr-accent);
  }
}

.title,
.subtitle {
  br {
    display: none;
  }
}

.subtitle {
  color: var(--text-muted);
  line-height: 1.7;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--text-muted);
    opacity: 0.5;
  }
}

.action {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;

  .icon {
    align-self: center;
    display: flex;
    color: var(--clr-accent);

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .text {
    font-size: 0.85rem;
    color: var(--text-muted);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .card {
    box-shadow: 0 0 15px hsla(0 0% 0% / 0.1);

    .image__container {
      position: relative;
      display: flex;
      flex: 1;
    }

    .image__text {
      display: none;
    }

    .image {
      display: block;
    }

    .content {
      padding: 1.5rem;
      background-color: var(--white);
      display: flex;
      flex-direction: column;

      .caption {
        font-size: 0.65rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--text-muted);
        position: relative;
        margin-bottom: 1.25rem;
        align-self: flex-start;

        &::after {
          content: "";
          position: absolute;
          bottom: -0.75rem;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: currentColor;
          opacity: 0.5;
        }
      }

      .text {
        font-size: 1.5rem;
        color: var(--text-primary);
      }
    }
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding-top: 5rem;
    display: flex;
    gap: 5rem;

    &::before {
      --size: 600px;
      background-image: linear-gradient(to top, var(--off-white) 10%, transparent);
    }
  }

  .text {
    flex-shrink: 0;
  }

  .title,
  .subtitle {
    br {
      display: inline;
    }
  }

  .title {
    font-weight: 800;
    font-size: 3rem;
    padding-top: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    line-height: 1.3;

    &::before {
      height: 10px;
    }
  }

  .subtitle {
    font-size: 1.35rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
  }

  .action {
    .icon {
      svg {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    .text {
      font-size: 1rem;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;

      .image__container {
        isolation: isolate;

        .image__text {
          display: block;
          position: absolute;
          z-index: 2;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 2.5rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          color: var(--white);
          line-height: 1.66;
          font-size: 0.9rem;
          font-weight: 600;

          svg {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        img {
          flex: 1;
          object-fit: cover;
        }
      }

      .content {
        padding: 1.5rem 2.5rem;
        .text {
          font-size: 1.65rem;
        }
      }

      &:last-child {
        box-shadow: -10px 10px 75px hsla(224, 69%, 55%, 0.35);
        .image__container {
          img {
            filter: grayscale(100%) brightness(2);
          }

          &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            background-image: linear-gradient(to top right, #3c66db 0%, #b8abff 100%);
            opacity: 0.85;
          }
        }
      }
    }

    & > :nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & > :nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      position: relative;
      bottom: -1rem;
      right: -2rem;
      z-index: 1;
    }

    & > :nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      z-index: 2;
    }
  }
}
